.PersonalForm > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1ex;
}

.PersonalForm > div > label {
  margin-right: 1em;
  min-width: 10em;
  text-align: right;
}

.PersonalForm > div > div {
  max-width: 15em;
}

.PersonalForm > div > div > * {
  border: 2px solid #12630b;
  font-size: 16px;
  padding: 5px 8px 5px 8px;
}

.PersonalForm > div > button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px 15px 10px 15px;
}

.PersonalForm > div > button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.PersonalForm > div > button[type='submit'] {
  background-image: linear-gradient(#138d1d, #063802);
  border: 1px solid #063802;
  color: #ffffff;
}

.PersonalForm > div > button[type='button'] {
  background-image: linear-gradient(#ffffff, #d5d5d5);
  border: 1px solid #d5d5d5;
  color: #000000;
}
